ul
  li <a href="http://datamapper.org/getting-started.html">Datamapper- Getting Started</a>
  li <a href="http://html2slim.herokuapp.com/">HTML to SLIM Converter</a>
  li <a href="http://softwaremaniacs.org/soft/highlight/en/">Highlight.js Project Home Page </a>
  li <a href="http://workswithruby.com/2008/12/using-datamapper-on-legacy-databases"> Using Datamapper on legacy databases</a>
  li <a href="http://stackoverflow.com/questions/7521958/setting-up-associations-with-datamapper-sinatra?rq=1"> Setting up associations with Datamapper on Sinatra</a>
  li <a href="https://github.com/slim-template/slim"> SLIM Template Github Page</a>
  li <a href="http://datatables.net"< DataTables JQuery Extension</a>